In [55]:
import pandas as pd
import numpy as np

In [56]:
class_labels = pd.read_csv("class_accuracy.csv")
pixel_count = pd.read_csv("label_pixel_counts.csv")

In [57]:
pixel_count.sort_values(by="Pixel Count", inplace=True)

In [62]:
pixel_count.tail(10)

    Label  Pixel Count
19     21       263761
2       2       287496
14     16       351319
60     63       547651
13     15       589283
57     60       672202
10     10       888359
55     58       989055
59     62      2247204
0       0      7775791

In [58]:
# Relabel all the classes to 0, and except classes 60,10,58,15
class_labels["relabel"] = 0
class_labels.loc[class_labels["GT"].isin([60,10,58,15]), "relabel"] = class_labels["GT"]

In [59]:
# Merge the pixel count and the class labels
merged = pd.merge(class_labels, pixel_count, left_on="GT", right_on="Label")

In [60]:
merged.head()

,Unnamed: 0,GT,LNF_code,raw_DE,raw_ENG,1st_tier,2nd_tier,3rd_tier,4th_tier_ENG,empty,Accuracy (%),relabel,Label,Pixel Count
0,0,1,501,Sommergerste,summer barley,Vegetation,Field crops,SmallGrainCereal,SummerBarley,NaN,0.00,0,1,4173
1,1,2,502,Wintergerste,Winter barley,Vegetation,Field crops,SmallGrainCereal,WinterBarley,NaN,90.65,0,2,287496
2,2,3,504,Hafer,oats,Vegetation,Field crops,SmallGrainCereal,Oat,NaN,0.76,0,3,16965
3,3,4,505,Triticale,triticale,Vegetation,Field crops,SmallGrainCereal,Wheat,NaN,17.29,0,4,53382
4,4,5,506,Mischel Futtergetreide,mixed fodder cereals,Vegetation,Field crops,SmallGrainCereal,Grain,NaN,0.00,0,5,2031

In [52]:
# Group by "4th_tier_ENG" and create lists of pixel counts from the "GT" column
grouped_gt_codes = merged.groupby("relabel").agg(
    GT_list=("GT", list),
    pixel_sum=("Pixel Count", sum)
).reset_index()

In [53]:
grouped_gt_codes["relabel"] = grouped_gt_codes.index

In [54]:
grouped_gt_codes.to_json("Same_pixel.json", orient="records")